.no-margin
  margin: 0

.no-margin-bottom
  margin-bottom: 0

.no-padding-bottom
  padding-bottom: 0

.link
  color: #48a1fa
  text-decoration: underline

.title-hero
  font-family: "Open Sans Condensed", sans-serif
  font-size: rem-calc(48)
  font-weight: 600

.title
  margin-bottom: rem-calc(30)
  font-weight: 600
  &.subtitle
    margin-bottom: 0
    + p
      font-size: rem-calc(13)
      color: $steel

h5.title
  font-family: "Open Sans Condensed", sans-serif
  font-size: rem-calc(22)
  margin-bottom: 10px

.text-condensed
  font-family: "Open Sans Condensed", sans-serif

.title-condensed
  font-family: "Open Sans Condensed", sans-serif

.clear
  clear: both

.inline-block
  display: inline-block

.bg-silver
  background-color: $silver

.bg-ghost
  background-color: #f6f6f6

.bg-dark
  background-color: $jet

.bg-orange
  background-color: $primary-color

.text-justify
  text-align: text-justify

.text-uppercase
  text-transform: uppercase

.text-smaller
  font-size: rem-calc(14)

.text-smallest
  font-size: rem-calc(13)

.text-bold
  font-weight: 700

.text-semibold
  font-weight: 600

.text-white *, .text-white
  color: white

.text-grey
  color: $base

.text-orange
  color: $primary-color

.postfix
  margin-left: 10px !important

.img-shadow
  position: relative
  &:after
    content: ""
    position: absolute
    bottom: -17px
    left: 0
    right: 0
    background-image: url('../images/product-shadow.png')
    background-size: 258px 17px
    background-position: center center
    height: 17px
    width: 100%

.list-style-dash
  +no-bullets
  li
    text-indent: -5px
    margin-left: 10px
    &:before
      content: "—"
      position: relative
      left: -5px

.border-top
  border-top: 1px solid $gainsboro
