.no-margin
  margin: 0

.no-margin-bottom
  margin-bottom: 0

.no-padding-bottom
  padding-bottom: 0

.link
  color: #48a1fa
  text-decoration: underline

.title-hero
  font-family: "Open Sans Condensed", sans-serif
  font-size: rem-calc(48)

.clear
  clear: both

.inline-block
  display: inline-block

.bg-ghost
  background-color: #f6f6f6

.bg-ghost-alt
  background-color: #f8f8fa
  border-top: 1px solid #f1f1f1

.text-justifi
  text-align: text-justify

.text-uppercase
  text-transform: uppercase

.text-bold
  font-weight: bold

.text-white *
  color: white

.text-orange
  color: $primary-color

