doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation
    link(rel='stylesheet', href='./stylesheets/app.css')
    script(src='http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/warriors/js/modernizr-2.8.3.js')

  body
    .m-top-bar--wrapper
      .contain-to-grid
        nav.top-bar.m-top-bar(data-topbar='', role='navigation')
          ul.title-area
            li.name
              a.m-logo(href='#') H&C
            // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
            li.toggle-topbar.menu-icon
              a(href='#')
                span Menu
          section.top-bar-section
            // Right Nav Section
            ul.right
              li.active: a(href='#') Accueil
              li: a(href='#') Produits
              li: a(href='#') à propos
              li: a(href='#') TARIFS
              li: a.button.m-button(href='#') CONTACTEZ-NOUS

    section.m-header--hero.text-center
      .l-content--big.text-white
        .row
          h1.title-hero Contrôle et gestion de la sécurité
          p Heure et Contrôle accompagne les plus grandes entreprises dans leur démarche d'optimisation de la sécurité
            |</br>en répondant à leurs attentes concernant le contrôle de ronde, la protection du travailleur isolé
            |</br>et la gestion électronique des clés.
          a.m-button.large(href="#") Découvrez nos produits

    section.bg-dark
      .l-content--medium.text-center
        .row
          h4.title.text-grey Nos références
          img(src="images/logo-ads.png")

    section
      .l-content--medium
        .row
          h4.title.text-grey.text-center Nos produits
          ul.m-products--list
            li.m-products--item
              img(src="images/content/product-item-1.jpg")
              .l-box--small-bordered.text-condensed
                h5.title Vigiclé
                p.text-bold.text-grey Lorem ipsum dolor sit amet consectetur adipiscing elit duis porta tempor.
              a.m-product--button(href="#") Découvrir le produit
            li.m-products--item
              img(src="images/content/product-item-2.jpg")
              .l-box--small-bordered.text-condensed
                h5.title Vigipad
                p.text-bold.text-grey Lorem ipsum dolor sit amet consectetur adipiscing elit duis porta tempor.
              a.m-product--button(href="#") Découvrir le produit
            li.m-products--item
              img(src="images/content/product-item-3.jpg")
              .l-box--small-bordered.text-condensed
                h5.title Vigicasier
                p.text-bold.text-grey Lorem ipsum dolor sit amet consectetur adipiscing elit duis porta tempor.
              a.m-product--button(href="#") Découvrir le produit
            li.m-products--item
              img(src="images/content/product-item-4.jpg")
              .l-box--small-bordered.text-condensed
                h5.title Master Garde
                p.text-bold.text-grey Lorem ipsum dolor sit amet consectetur adipiscing elit duis porta tempor.
              a.m-product--button(href="#") Découvrir le produit
            li.m-products--item
              img(src="images/content/product-item-5.jpg")
              .l-box--small-bordered.text-condensed
                h5.title Guardus
                p.text-bold.text-grey Lorem ipsum dolor sit amet consectetur adipiscing elit duis porta tempor.
              a.m-product--button(href="#") Découvrir le produit

    section.bg-silver
      .l-content--medium
        .row
          h4.title.text-center Heure & Contrôle
          p.text-center 60 ans d’expérience, leader en France dans le contrôle et la gestion de clés et de la sécurité. Depuis sa création en 1946, la société Heure et Contrôle accompagne les plus grandes entreprises dans leur démarche d'optimisation de la sécurité en répondant à leurs attentes concernant le contrôle de ronde, la protection du travailleur isolé et la gestion électronique de clés
          .l-content--small
            .medium-6.large-6.columns
              p.text-smaller.icon-key.left-pos La gestion électronique de clés avec le VigiClé, 1er système de sécurité breveté de contrôle et de gestion électronique de clés avec plus de 1000 sites équipés en France et des milliers dans le monde.
            .medium-6.large-6.columns
              p.text-smaller.icon-user.left-pos Le contrôleurs de ronde, avec la gamme Master Garde compact (n°1 mondial du contrôle et de la gestion de ronde) avec plus de 1 000 entreprises équipées en France et la gamme Guardus (nouvelle génération de système de rondes).

    section.bg-orange
      .l-content--medium
        .row
          h4.title.text-center.text-white Nos partenaires
          img(src="images/logo-ads-white.png")

    section
      .l-content--medium.text-center
        .row
          h4.title.subtitle Newsletter
          p Inscrivez-vous pour ne pas manquer les dernières actualités.
          form
            .row
              .large-6.large-centered.medium-6.medium-centered.columns
                .row.collapse
                  .large-8.columns
                    input(type="text" placeholder="Votre email")
                  .large-4.columns
                    a.m-button.postfix(href="#") S’inscrire

    footer#footer.m-footer.bg-silver
      .l-content--small
        .row
          .large-6.medium-6.columns
            p.text-grey.float-left Copyright © 2015 Heure & Contrôle. Tous droits réservés.
          .large-6.medium-6.columns
            ul.m-footer--list
              li: a(href="welcome.html") Accueil
              li: a(href="products.html") Produits
              li: a(href="about.html") à propos
              li: a(href="tarifs.html") Tarifs
              li: a(href="contact.html") Contact


    script(src='js/bundle.js')
