doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  include partials/_head

  body
    include partials/_top-bar

    section.m-product
      .l-content
        .row
          .large-4.medium-4.columns
            .img-shadow
              img(src="images/content/product-item-big-1.jpg")
          .large-8.medium-8.columns
            h2.text-bold.text-condensed VigiClé
            p.text-bold La gestion automatique des clés dans l’entrprise.
            p Le VigiClé est le 1er système de sécurité breveté, de contrôle et de gestion électronique de clés. Il enregistre 24h/24 les sorties et les entrées des clés ainsi que le nom de leurs utilisateurs. Il assure la gestion de vos clés avec le maximum de sûreté. Il enregistre l'historique de chaque clé et de chaque utilisateur.
            .m-actions
              a.m-button.yellow.radius(href="product-details.html") Découvrir le produit

    section.m-product.one
      .l-content
        .row
          .large-8.medium-8.columns.text-right
            h2.text-bold.text-condensed VigiPad
            p.text-bold La révolution tactile.
            p Le VIGIPAD est doté d'un écran tactile 7' qui optimise la lecture des informations.
            Il permet une navigation plus simple et une grande rapidité de recherche dans 
            le menu. Le VIGIPAD permet de gérer jusqu'à 10 000 utilisateurs sur une base de données. Il est évolutif jusqu'à 14 400 clés par site. 
            .m-actions
              a.m-button.yellow.radius(href="product-details.html") Découvrir le produit
          .large-4.medium-4.columns
            .img-shadow
              img(src="images/content/product-item-big-2.jpg")

    section.m-product.two
      .l-content
        .row
          .large-4.medium-4.columns
            .img-shadow
              img(src="images/content/product-item-big-3.jpg")
          .large-8.medium-8.columns
            h2.text-bold.text-condensed Vigicasier
            p.text-bold La protection permanente de vos valeurs.
            p Le Vigicasier gestionnaire électronique de casier vous assure une protection permanente de tous vos objets de valeurs avec une nouvelle gamme de coffre pour mieux gérer tous vos documents (papiers de véhicules, papiers d'identité) ou objets précieux (téléphone portable , PC, talkie walkie ou défibrillateur).
            .m-actions
              a.m-button.yellow.radius(href="product-details.html") Découvrir le produit

    section.m-product.three
      .l-content
        .row
          .large-8.medium-8.columns.text-right
            h2.text-bold.text-condensed Master Garde
            p.text-bold N°1 mondial du contrôle et de la gestion de ronde.
            p Le rondier Master Garde se présente comme le nouvel outil indispensable au contrôle des rondes. Ergonomique, d'une meilleure prise en main et particulièrement résistant aux chocs, le Master Garde est un contrôleur de ronde d'une grande simplicité d'utilisation grâce à un logiciel moderne et convivial.
            .m-actions
              a.m-button.yellow.radius(href="product-details.html") Découvrir le produit
          .large-4.medium-4.columns
            .img-shadow
              img(src="images/content/product-item-big-4.jpg")

    section.m-product
      .l-content
        .row
          .large-4.medium-4.columns
            .img-shadow
              img(src="images/content/product-item-big-5.jpg")
          .large-8.medium-8.columns
            h2.text-bold.text-condensed Guardus
            p.text-bold Nouvelle génération de systèmes de gestion de rondes.
            p Le controleur de ronde G3 a été conçu pour des utilisations extrêmes et dans des environnements les plus agressifs, grâce à sa conception en duralumin T6 avec traitement de surface résistant de 0 à 75°, et à sa tête de lecture scellée en acier 1213 qui le rend totalement imperméable à l'eau.
            .m-actions
              a.m-button.yellow.radius(href="product-details.html") Découvrir le produit

    include partials/_newsletter

    include partials/_footer

    script(src='js/bundle.js')
