footer#footer.m-footer.bg-silver
  .l-content--small
    .row
      .large-6.medium-6.columns
        p.text-grey.float-left Copyright © 2015 Heure & Contrôle. Tous droits réservés.
      .large-6.medium-6.columns
        ul.m-footer--list
          li: a(href="welcome.html") Accueil
          li: a(href="product.html") Produits
          li: a(href="about.html") à propos
          li: a(href="tarifs.html") Tarifs
          li: a(href="contact.html") Contact


