footer#footer.m-footer.bg-silver(style="visibility: hidden")
  .l-content--small
    .row
      .large-6.medium-6.columns
        p.text-grey.float-left Copyright © 2015 Heure & Contrôle. Tous droits réservés.
      .large-6.medium-6.columns
        ul.m-footer--list
          li: a(href="index.html") Accueil
          li: a(href="product.html") Produits
          li: a(href="about.html") À propos
          li: a(href="tarifs.html") Tarifs
          li: a(href="contact.html") Contact


