meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title Foundation
link(rel='stylesheet', href='./stylesheets/app.css')
script(src='http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/warriors/js/modernizr-2.8.3.js')
